.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(56, 9, 121, 0.9) 50%, rgba(255,0,159,0.8) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Text {
  font-size: 5vh;
  color: azure;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.TextBox {
	display: flex;
	justify-content: center;
}

.Name {
	margin-top: 0px;
}

.HalfSection {
  align-items: center;
  justify-content: center;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.Line {
	width: 50%;
}
/* 
#hightlight {
  border-radius: 25%;
  color: aliceblue;
  animation: glitter 4.5s linear 0s infinite normal;
  display: block;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 10px;
	height: 10px;
	background: #F6F6F6;
	overflow: hidden;
	z-index: 2;
}

@keyframes glitter {
	0%   { -webkit-transform: scale(1.0); opacity: 1; }
	25%  { -webkit-transform: scale(0.5); opacity: 0; }
	50%  { -webkit-transform: scale(1.0); opacity: 1; }
	75%  { -webkit-transform: scale(0.5); opacity: 0; }
	100% { -webkit-transform: scale(1.0); opacity: 1; }
}

.star {
  border-radius: 50%;
	display: block;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 0.5vh;
	height: 0.5vh;
	background: #F6F6F6;
	overflow: hidden;
	z-index: -2;
	animation: glitter 4.5s linear 0s infinite normal;
} */